@font-face {
  font-family: Jakarta_Display_Bold;
  src: url(./assets/fonts/PlusJakartaDisplay-Bold.otf);
}

@font-face {
  font-family: Jakarta_Display_Bold_Italic;
  src: url(./assets/fonts/PlusJakartaDisplay-BoldItalic.otf);
}

@font-face {
  font-family: Jakarta_Display_Italic;
  src: url(./assets/fonts/PlusJakartaDisplay-Italic.otf);
}

@font-face {
  font-family: Jakarta_Display_Light;
  src: url(./assets/fonts/PlusJakartaDisplay-Light.otf);
}

@font-face {
  font-family: Jakarta_Display_Light_Italic;
  src: url(./assets/fonts/PlusJakartaDisplay-LightItalic.otf);
}

@font-face {
  font-family: Jakarta_Display_Medium;
  src: url(./assets/fonts/PlusJakartaDisplay-Medium.otf);
}


@font-face {
  font-family: Jakarta_Display_Medium_Italic;
  src: url(./assets/fonts/PlusJakartaDisplay-MediumItalic.otf);
}

@font-face {
  font-family: Jakarta_Display_Regular;
  src: url(./assets/fonts/PlusJakartaDisplay-Regular.otf);
}

@font-face {
  font-family: Jakarta_Text_Bold;
  src: url(./assets/fonts/PlusJakartaText-Bold.otf);
}

@font-face {
  font-family: Jakarta_Text_Bold_Italic;
  src: url(./assets/fonts/PlusJakartaText-BoldItalic.otf);
}


@font-face {
  font-family: Jakarta_Text_Italic;
  src: url(./assets/fonts/PlusJakartaText-Italic.otf);
}

@font-face {
  font-family: Jakarta_Text_Light;
  src: url(./assets/fonts/PlusJakartaText-Light.otf);
}

@font-face {
  font-family: Jakarta_Text_Light_Italic;
  src: url(./assets/fonts/PlusJakartaText-LightItalic.otf);
}

@font-face {
  font-family: Jakarta_Text_Regular;
  src: url(./assets/fonts/PlusJakartaText-Regular.otf);
}
/* button[class*="materialui-daterange-picker-makeStyles-filled"]
{
  background-color: #313131 !important;
} */
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 1rem !important;
  background-color: #313131 !important;
  color: #fff;
}
.react-datepicker__day.react-datepicker__day--keyboard-selected {
  background: none !important;
  color: #313131 !important;;
}

.react-datepicker {
  font-family: 'Jakarta_Text_Light' !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
}

.react-datepicker__input-container input{
   height: 24px !important;
   border: 1px solid #E4E4E4;
   border-radius: 4px;
   font-weight: 400;
   font-size: 14px;
   background: #FFFFFF;
}
